<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907286443175-905drg76rvp17qu5si0dn1lga6ppot9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907286443175-905drg76rvp17qu5si0dn1lga6ppot9g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>907286443175-mok20tbf9lusa5auh162hcr8havg2sc6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBrEnXPOJwzkYWsbR0UJupBDNfrcHN-vgI</string>
	<key>GCM_SENDER_ID</key>
	<string>907286443175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vianasoft.stay</string>
	<key>PROJECT_ID</key>
	<string>hostel-app-3afa1</string>
	<key>STORAGE_BUCKET</key>
	<string>hostel-app-3afa1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907286443175:ios:455b27a5748703a1e09782</string>
</dict>
</plist>